extends ../layout

block content-inside
  .text-center
    h2 Ranking

  table.table.table-hover
    thead
      tr
        th.xcol-md-2
        th.xcol-md-1
        th.xcol-md-1 #
        th.xcol-md-5 Player
        th.xcol-md-2.text-center Score
        th.xcol-md-1.text-center Wins
        th.xcol-md-1.text-center Losses
    tbody
      each user, index in users
        tr
          if index % 10 == 0
            td(align='center', rowspan=10)
              = 'Top ' + (index + 10)
          td
            if Math.random() > .5
              i.fa.fa-chevron-up.fa-fw.text-success
            else
              i.fa.fa-chevron-down.fa-fw.text-danger
          td= index + 1
          td(style='vertical-align: middle;')
            img(src=user.getRaceImagePath())
            | &nbsp;
            if user.clan
              | #{user.clan.name}.
            strong
              a(href=user.getShowPath())
                = user.name
          td(align='center')= user.score
          td(align='center')= user.totalWins()
          td(align='center')= user.totalLosses()
