extends ../layout

block content-inside
  .text-center
    h2 Ranking

  table.table.table-hover
    thead
      th.col-md-1
      th.col-md-1 #
      th.col-md-5 Player
      th.col-md-2.text-center Score
      th.col-md-1.text-center Wins
      th.col-md-1.text-center Losses
    tbody
      each user, index in users
        tr
          td
            if Math.random() > .5
              i.fa.fa-chevron-up.fa-fw.text-success
            else
              i.fa.fa-chevron-down.fa-fw.text-danger
          td= index + 1
          td
            img(src=user.getRaceImagePath())
            | &nbsp;
            a(href=user.getShowPath(), style='vertical-align: middle;')
              = user.name
          td(align='center')= user.score
          td(align='center')= user.totalWins()
          td(align='center')= user.totalLosses()
