mixin article(article)
  .article
    .article-thumbnail(style='background-image: url(' + article.thumbnail + ');')
    #article-title.article-title
      = article.title
    .article-meta
      = article.getMetaInfo()
    #article-content.article-content.editable
      != article.content

mixin article-preview(article)
  .article-preview
    .article-thumbnail(style='background-image: url(' + article.thumbnail + ');')
    .article-title!= article.title
    .article-meta!= article.getMetaInfo()
    .article-content!= article.brief
    .article-footer
      a(href=article.getShowPath())
        | Read more &nbsp
        i.fa.fa-angle-double-right

mixin article-form(article, action)
  form(action=action, method='post', enctype='multipart/form-data')
    .form-group
      label(for='title') Title
      input#title.form-control(type='text', name='title', placeholder='Title', value=article.title)
    .form-group
      label(for='thumbnail') Thumbnail
      input.form-control(type='file', id='thumbnail', name='upload', value=article.thumbnail)
    .form-group
      label(for='brief') Brief
      textarea.form-control(rows=5, name='brief', placeholder='Write brief content here...')
        = article.brief
    .form-group
      label(for='content') Content
      textarea#content.form-control(rows=20, name='content', placeholder='Write your content here...')
    button.btn.button-submit(type='submit') Submit
