mixin article-show(article)
  .article
    .article-title!= article.title
    .article-meta!= article.meta
    img.article-thumbnail(src= article-thumbnail)
    .article-content!= article.content

mixin article-preview(article)
  .article-preview
    img.article-thumbnail(src= article-thumbnail)
    .article-title!= article.title
    .article-meta!= article.meta
    .article-content!= article.content
    .article-footer
      a(href='/articles/' + article._id) Read more

mixin article-form(article, action)
  form(action=action, method='post')
    .form-group
      label(for='title') Title
      input#title.form-control(type='text', name='title', placeholder='Title', value=article.title)
    .form-group
      label(for='content') Content
      textarea#content.form-control(rows=20, name='content', placeholder='Write your content here...')
    button.btn.button-submit(type='submit') Submit

