mixin article(article)
  .article
    .article-thumbnail(style='background-image: url(' + article.thumbnail + ');')
    #article-title.article-title
      = article.title
    .article-meta
      = article.getMetaInfo()
    #article-content.article-content.editable
      != article.content
    .fb-like(data-href='https://128.199.229.156:3000/' + article.getShowPath(), data-layout='standard', data-action='like', data-show-faces='true', data-share='true')
    .fb-comments(data-href='https://128.199.229.156:3000/' + article.getShowPath(), data-numposts='4', data-width='100%')

mixin article-preview(article)
  .article-preview
    a(href=href=article.getShowPath())
      .article-thumbnail(style='background-image: url(' + article.thumbnail + ');')
    a.article-title(href=article.getShowPath())= article.title
    .article-meta!= article.getMetaInfo()
    .article-content!= article.brief
    .article-footer
      a(href=article.getShowPath())
        | Read more &nbsp
        i.fa.fa-angle-double-right
      .fb-like.pull-right(data-href='https://128.199.229.156:3000/' + article.getShowPath(), data-layout='button_count', data-action='like', data-show-faces='true', data-share='true')

mixin article-form(article, action)
  form(action=action, method='post', enctype='multipart/form-data', class='article-form')
    .form-group
      label(for='title') Title
      input#title.form-control(type='text', name='title', placeholder='Title', value=article.title)
    .form-group
      label(for='thumbnail') Thumbnail
      input.form-control(type='file', id='thumbnail', name='upload', value=article.thumbnail)
    .form-group
      label(for='brief') Brief
      textarea.form-control(rows=5, name='brief', placeholder='Write brief content here...')
        = article.brief
    .form-group
      label(for='content') Content
      textarea#content.form-control(rows=20, name='content', placeholder='Write your content here...')
    button.btn.button-submit(type='submit') Submit
