mixin matches-list(matches)
  table.table.table-condensed.table-hover
    tbody
      if matches
        each match in matches
          tr
            td.col-md-2(align='left')= match.date.toLocaleString('en-US', { year: 'numeric', month: 'short', day: 'numeric' })
            td.col-md-3(align='right')
              a(href=match.player_1.getShowPath())
                = match.player_1.name
                | &nbsp;
                img.avatar-small(src=match.player_1.avatar)
            td.col-md-1(align='center') vs
            td.col-md-3(align='left')
              a(href=match.player_2.getShowPath())
                img.avatar-small(src=match.player_2.avatar)
                | &nbsp;
                = match.player_2.name
            td.col-md-2(align='right')
              a(href=match.getShowPath())
                i.fa.fa-eye.fa-fw
              | &nbsp;
              a(href='#')
                i.fa.fa-youtube-play.fa-fw

mixin match(match)
  .box
    h3.text-center= match.tournament ? match.tournament.name : 'Public match'
    hr
    table.table.table-borderless
      tbody
        tr
          td.col-md-2(align='left')
            = match.player_1.name
          td.col-md-3(align='right')
            img.avatar(src=match.player_1.avatar)
          td.col-md-2(align='center')
            button.btn.btn-default
              = match.winner() ? match.winner().name + ' wins' : 'Draw'
            h6= match.date.toDateString()
          td.col-md-3(align='left')
            img.avatar(src=match.player_2.avatar)
          td.col-md-3(align='right')
            = match.player_2.name
    #games-accordion.panel-group(role='tablist', aria-multiselectable='true')
      each game, index in match.games
        .panel.panel-default
          .panel-heading(role='tab', id='heading' + index)
            h4.panel-title
              a(role='button', data-toggle='collapse', data-parent='#games-accordion', href='#collapse' + index, aria-expanded='true', aria-controls='collapse' + index)
                = 'Game ' + (index + 1)
          .panel-collapse.collapse(role='tabpanel', aria-labelledby='heading' + index, id='collapse' + index)
            .panel-body
              +game(game)

mixin game(game)
  img.img.pull-right(width='200px', height='200px')
  p= "Player 1 race: " + game.race1
  p= "Player 2 race: " + game.race2
  p= "Status: " + game.status
