mixin matches-list(matches)
  table.table.table-condensed.table-hover
    tbody
      if matches
        each match in matches
          tr
            td.col-md-2(align='left')= match.date.toLocaleString('en-US', { year: 'numeric', month: 'short', day: 'numeric' })
            td.col-md-3(align='right')
              a(href=match.player_1.getShowPath())
                = match.player_1.name
                | &nbsp;
                img.avatar-small(src=match.player_1.avatar)
            td.col-md-1(align='center') vs
            td.col-md-3(align='left')
              a(href=match.player_2.getShowPath())
                img.avatar-small(src=match.player_2.avatar)
                | &nbsp;
                = match.player_2.name
            td.col-md-2(align='right')
              a(href=match.getShowPath())
                i.fa.fa-eye.fa-fw
              | &nbsp;
              a(href='#')
                i.fa.fa-youtube-play.fa-fw

mixin match-form()
  h4(style='margin-bottom: 30px;')
    strong New Match
  form(action='/matches', method='post')
    .form-group
      label Player 1
      .input-group
        span.input-group-addon
          i.fa.fa-user.fa-fw
        select.form-control(name='player_1')
          each user in users
            option(value=user._id)= user.name
    .form-group
      label Player 2
      .input-group
        span.input-group-addon
          i.fa.fa-user.fa-fw
        select.form-control(name='player_2')
          each user in users
            option(value=user._id)= user.name
    .form-group
      label Number of matches
      .input-group
        span.input-group-addon
          i.fa.fa-map.fa-fw
        select.form-control(name='gamesCount')
          option(value='1') 1
          option(value='3') 3
          option(value='5') 5
          option(value='7') 7
    .form-group
      label Start date
      .input-group
        span.input-group-addon
          i.fa.fa-calendar.fa-fw
        input.form-control(type='date', name='date')

    button.btn.button-submit(type='submit') Submit


mixin match(match, type)
  .box
    h3.text-center= match.tournament ? match.tournament.name : 'Public match'
    hr
    table.table.table-borderless
      tbody
        tr
          td.col-md-2(align='left')
            h5
              strong= match.player_1.name
            = '#' + match.player_1.rank
          td.col-md-3(align='right')
            img.avatar(src=match.player_1.avatar, class='race-' + match.player_1.race)
          td.col-md-2(align='center')
            button.btn.btn-default
              = match.winner() ? match.winner().name + ' wins' : 'Draw'
            if type != 'edit'
              h5
                = 'Best of ' + match.games.length
              h6
                = match.date.getDate() + '/' + (match.date.getMonth() + 1) + '/' + match.date.getUTCFullYear()
            else
              .form-group
                label Number of matches
                .input-group
                  span.input-group-addon
                    i.fa.fa-map.fa-fw
                  select.form-control(name='gamesCount', id ='gamesCount')
                    option(value='1', selected = (match.games.length == 1)) 1
                    option(value='3', selected = (match.games.length == 3)) 3
                    option(value='5', selected = (match.games.length == 5)) 5
                    option(value='7', selected = (match.games.length == 7)) 7
              .form-group
                label Start date
                .input-group
                  span.input-group-addon
                    i.fa.fa-calendar.fa-fw
                  input.form-control(id='date', type='date', name='date', value=match.date.getUTCFullYear() + '-' + ('0' + (match.date.getMonth() + 1)).slice(-2) + '-' + ('0' + match.date.getDate()).slice(-2))
          td.col-md-3(align='left')
            img.avatar(src=match.player_2.avatar, class='race-' + match.player_2.race)
          td.col-md-3(align='right')
            h5
              strong= match.player_2.name
            = '#' + match.player_2.rank

    .tabs-left
      ul.nav.nav-tabs
        each game, index in match.games
          li(class= index == 0 ? 'active' : '')
            a(href='#game' + index, data-toggle='tab', aria-expanded='true')
              = 'Game ' + (index + 1)
      .tab-content
        each game, index in match.games
          .tab-pane(id='game' + index, class=index == 0 ? 'active' : '')
            if type == 'edit'
              +game-form(index)
            else
              +game(game)

mixin game(game)
  img.img.pull-right(width='200px', height='200px')
  p= "Player 1 race: " + game.race1
  p= "Player 2 race: " + game.race2
  if (game.map)
    p= "Map: " + game.map.name
  else
    p= "Map: not available" 
  p= "Status: " + game.status

mixin game-form(index)
  - var opsVal = ['zerg', 'protoss', 'terran']
  - var opsValName = ['Zerg', 'Protoss', 'Terran']
  .form-group
    label Player 1 race
    .input-group
      span.input-group-addon
        i.fa.fa-flag.fa-fw
      select.form-control(id='g#{index}p1race')
        each val, indexVal in opsVal
          if (val == match.games[index].race1)
            option(value=val, selected)= opsValName[indexVal]
          else
            option(value=val)= opsValName[indexVal]
  .form-group
    label Player 2 race
    .input-group
      span.input-group-addon
        i.fa.fa-flag.fa-fw
      select.form-control(id='g#{index}p2race')
        each val, indexVal in opsVal
          if (val == match.games[index].race2)
            option(value=val, selected)= opsValName[indexVal]
          else
            option(value=val)= opsValName[indexVal]
  .form-group
    label Map
    .input-group
      span.input-group-addon
        i.fa.fa-map.fa-fw
      select.form-control(id='g#{index}map')
        each map, indexVal in maps
          if (match.games[index].map)
            if (match.games[index].map._id.equals(map._id))
              option(value=map._id, selected)= map.name
          else
            option(value=map._id)= map.name
  .form-group
    label Winner
    .input-group
      span.input-group-addon
        i.fa.fa-trophy.fa-fw
      select.form-control(id='g#{index}status')
        - var statusVal = ['win', 'lose', 'draw', 'not available']
        - var statusName = [match.player_1.name, match.player_2.name, 'Draw', 'Not available']
        each val, indexVal in statusVal
          if (val == match.games[index].status)
            option(value=val, selected)= statusName[indexVal]
          else
            option(value=val)= statusName[indexVal]
