mixin tournament-preview(tournament)
  .row.tournament-preview
    .col-md-5
      img.thumb(style='background-image: url(#{tournament.banner})')
    .col-md-7.content
      h3.title
        a(href=tournament.getShowPath())= tournament.name
      i.fa.fa-users.fa-fw
      |  &times; 34 &nbsp;
      i.fa.fa-money.fa-fw
      |  1000
      div(style='margin-top: 34px')
        a.btn.btn-warning.button-small Register
        a.btn.btn-primary.button-small(href=tournament.getShowPath()) Learn more
        .pull-right


mixin tournament-form(tournament, action)
  h4(style='margin-bottom: 30px;')
    strong CREATE TOURNAMENT
  form(action=action, method='post')
    .rows
      .col-md-6.no-padding
        .form-group
          label(for='name') Name
          .input-group
            span.input-group-addon
              i.fa.fa-question.fa-fw
            input.form-control(type='text', name='name', placeholder='Name', value=tournament.name)
        .form-group
          label(for='') Start
          .input-group
            span.input-group-addon
              i.fa.fa-calendar.fa-fw
            input.form-control(type='date', name='start', placeholder='Start date')
        .form-group
          label(for='') Number of players
          .input-group
            span.input-group-addon
              i.fa.fa-users.fa-fw
            input.form-control(type='number', name='todoname')
      .col-md-6
        .form-group
          label(for='introduction') Introduction
          textarea.form-control(name='introduction', rows=10)

      button.btn.button-submit(type='submit') Submit

mixin tournament(tournament, action)
  .tournament
    #tournament-title.tournament-title
      = tournament.name
    .tabs-left
      ul.nav.nav-tabs
        li.active
          a(href='#introduction', data-toggle='tab') Introduction
        li
          a(href='#rule', data-toggle='tab') Rules
        li
          a(href='#prizes', data-toggle='tab') Prizes
        li
          a(href='#schedule', data-toggle='tab') Schedule
        li
          a(href='#faq', data-toggle='tab') FAQ
        if action === 'edit'
          li
            a(href='#players', data-toggle='tab') Players

      .tab-content
        #introduction.tab-pane.editable.active
          != tournament.introduction
        #rule.tab-pane.editable
          != tournament.rule
        #prizes.tab-pane
          .text-center
            table.table.table-hover
              thead
                tr
                  th.text-center Placement
                  th.text-center Prize
              tbody
                tr
                  th.text-center 1st
                  td 1.000.000 VND + Cup
                tr
                  th.text-center 2nd
                  td 500.000 VND
                tr
                  th.text-center 3rd - 4th
                  td 200.000 VND
                tr
                  th.text-center 5th - 30th
                  td Nothing

        #schedule.tab-pane
          #stages-accordion.panel-group(role='tab-list', aria-multiselectable='true')
            each stage, index in tournament.stages
              +stage(stage, index)

        #faq.tab-pane.editable
          != tournament.faq

        if action === 'edit'
          #players.tab-pane
            h5 Pening players
            .list-group
              each pending in tournament.registration.pending
                .list-group-item 
                  = pending
                  .pull-right.list-player(id = tournament._id)
                    a.approve-button(id= pending)
                      small.text-success
                        i.fa.fa-check.fa-fw
                        | Approve
                    | &nbsp;
                    a.reject-button( id= pending)
                      small.text-danger
                        i.fa.fa-close.fa-fw
                        | Reject
              h5 Accepted players
              .list-group
                each participant in tournament.registration.participants
                  .list-group-item 
                    = participant
                    .pull-right.list-player(id = tournament._id)
                      a.reject-button-participant(id= participant)
                        small.text-danger
                          i.fa.fa-close.fa-fw
                          | Reject
            
          script.
            $('.list-player').click(function() {
              //alert(this.id)
              tournamentId = this.id
              //- $.post('/tournaments/' + tournament._id + '/accept/' + this.id, {}, function(data, status) {})
            })
            
            $('.approve-button').click(function() {
              $.post('/tournaments/' + tournamentId + '/accept/' + this.id, {}, function(data, status) {})
            })
            
            $('.reject-button').click(function() {
              $.post('/tournaments/' + tournamentId + '/deny/' + this.id, {}, function(data, status) {})
            })
            
            $('.reject-button-participant').click(function() {
              $.post('/tournaments/' + tournamentId + '/denyPaticipant/' + this.id, {}, function(data, status) {})
            })


mixin stage(stage, index)
  .panel.panel-default
    .panel-heading(role='tab', id='heading' + index)
      h4.panel-title
        a(role='button' data-toggle='collapse', data-parent='#stages-accordion', href='#collapse' + index,
            aria-expanded='true', aria-controls='collapse' + index)
          =stage.name
        .pull-right
          a#delete-stage-button(href='#')
            small.text-success
              i.fa.fa-check.fa-fw
              | delete
    .panel-collapse.collapse(id='collapse' + index, role='tabpanel', aria-controls='collapse' + index)
      .panel-body
        - var canvasName = stage.name.toLowerCase().replace(" ", "-") + "-canvas"

        canvas(width='500px', height='500px', id=canvasName)

        script.
          var data = !{stage.metadata};
          var ctx = $("#!{canvasName}").get(0).getContext("2d");
          ctx.translate(.5, .5);
          var tour = new Tournament.Elimination(data, {}, ctx);
