mixin tournament-preview(tournament)
  .tournament-preview
    img.thumb(src=tournament.banner)
    .content
      h3.title
        a(href=tournament.getShowPath())= tournament.name

mixin tournament-form(tournament, action)
  form(action=action, method='post')
    .form-group
      label(for='name') Name
      input#title.form-control(type='text', name='name', placeholder='Name', value=tournament.name)
    button.btn.button-submit(type='submit') Submit

mixin tournament(tournament)
  .tournament
    #tournament-title.tournament-title
      = tournament.name
    .tabs-left
      ul.nav.nav-tabs
        li.active
          a(href='#introduction', data-toggle='tab') Introduction
        li
          a(href='#rule', data-toggle='tab') Rules
        li
          a(href='#prizes', data-toggle='tab') Prizes
        li
          a(href='#schedule', data-toggle='tab') Schedule
        li
          a(href='#faq', data-toggle='tab') FAQ

      .tab-content
        #introduction.tab-pane.editable.active
          != tournament.introduction
        #rule.tab-pane.editable
          != tournament.rule
        #prizes.tab-pane.editable
          != tournament.faq
        #schedule.tab-pane
          if drawer
            - drawer.groups = ['quarter-finals', 'semi-finals', 'final']
            - drawer.calculateName()
            - drawer.calculatePosition()
            | !{drawer.html()}
        #faq.tab-pane
          != 2

mixin schedule(stages)
  #accordion.panel-group(role='tab-list', aria-multiselectable='true')
    each stage, index in stages
      .panel.panel-default
        .panel-heading(role='tab', id='heading' + index)
          a(role='button', data-toggle='collapse', data-parent='#accordion', href='#collapse' + index, aria-expanded='true', aria-controls='collapse' + index)
            = stage.name
        .panel-collapse.collapse(id='collapse' + index, role='tabpanel', aria-labelledby='heading' + index)
          .panel-body
            | ABCDEF
